.image {
    height: 450px;
    width: 80vw;
  }
  .mainImageGallery {
    background-color: transparent;
  }
  
  .mianDivIG {
    margin-left: 10%;
    margin-right: 10%;
  }
  .carouselText {
    background-color: #690001;
    width: max-content;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 767px) {
  
    .image{
      height: 200px;
    }
  }
  