.pcMessageContainer {
    background-color: #DCDCDC;
    padding: 20px;
    margin: 20px 0;
  }
  
  .pcMessage {
    text-align: center;
    font-weight: bold;
  }

  .pcmsg{
    color: orange;
  }

  .signature {
    text-align: right;
    margin-top: 20px;
    font-style: italic;
  }